* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
.title-card{
  width: 40%;
  margin-right: 3rem;
  display: flex;
  align-items: center;
}
.info-card{
  width: 50%;
}
span{
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
i{
  color: #5A82A8 !important;
}
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}
.c-pirple{
  color: rgb(85, 26, 139);
}
main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user img{
  width: 8rem;
  border-radius: 50%;
}

.glass {
  background: white;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  padding: 2rem;
  margin: 2rem;
}


.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.education {
  flex: 2;
}

.definition {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

/* Educations */
.status {
  margin-bottom: 3rem;
}


.education {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
@media(max-width:500px){
  .glass{
    display: flex;
    flex-direction: column;
  }
  .education{
    margin: 2rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 15rem;
  }
  .card h2{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
